/* styles.css */
.form-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  }
  
  .google-button {
    background-color: #4285F4; /* Color de fondo de Google */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .google-button:hover {
    background-color: #357AE8;
  }